body{background: whitesmoke;
    background-repeat: repeat;
    background-size: 1400px 700px;
    margin-left: 5px;
    margin-right: 0px;
}
h1{
    text-align: center;
}
header{margin-bottom: 5px;}
header nav{background:rgb(25, 124, 5) ;
    border: solid 2px;
overflow: hidden;
}
header nav ul{list-style: none;
    padding: 0px;
    display: block;
}
header nav ul li{
    position: relative;bottom: 8px;
    float: left;
    margin: -10px 1px;
    padding: 10px 20px;
    display: block;
    color: black;
    text-decoration: none;
}
.registro{float: right;
}
a:visited{color: cyan;}
header nav ul li.registro:hover{
background:sienna;
color: teal;
font-size:15px;
}
header nav ul li.home:hover{
    background-color: turquoise;
    color: tomato;
}
.navegar{width: 1340px;}

p em{
    color:rgb(249, 252, 252);
}
.caja{
    font-size:15px;
    width: 250px;
}
.cajas{
background-color: sienna;
width: 40px;
}
.libro{
    width: 710px;
    float: left;
    margin-left: 9px;
    margin-top: 8px;
border: dotted black;
}

div h2{ float:left;
;}

.caja2{ 
    margin: 1px 10px;
    width: 690px;
    position: relative;
    top: 1px; right: 1px;

}

article{
    float: left;
}
article{color: white;
font-family:'Courier New', Courier, monospace;
background-color: goldenrod;
border: black 5px double;
padding: 1px 10px;
font-size: 13px;
}
 .caja{
    background-color: rgb(110, 110, 3);
    border: double 5px black;
    padding: 1px 10px;
    }
    table{border-collapse: collapse;
        float: left;
        margin-left:10px;margin-top: 10px;
        padding: 300px;
        position: relative;
        top: -197px;
    }
    td{border: solid 2px;
        align-content: center;
        padding: 19px;
        
    }
    td:hover{ background-color: rgb(233, 75, 18)
        ;color: wheat;}
    .redes{
        position: relative;
        right: 505px;

    }
    .logo{position: relative;
        display:inline-block;
    }

.pie{
    background-color:  yellowgreen;
position: relative; top: 710px; 
border: solid black 2px;
padding: -8px;
margin-top: 0px;
text-align: center;
}

















